/* fade in */
.fadeInAnim{
  animation: fadeIn 0.2s ease-in-out;
}

.fadeInAnimSlow{
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*  */

/* bounce in */
.bounceInAnim{
  animation: bounceIn 0.6s ease-in-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
/*  */

/* bounce in avatar */
.bounceInAvatarAnim{
  animation: bounceInAvatar 1.1s ease-in-out;
}

/* bounce in */
@keyframes bounceInAvatar {
  0% {
    transform: scale(0.9);
    opacity: 0;
    border-width: 120px;
    border-color: #fff;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
    border-width: 20px;
    -webkit-box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
    -moz-box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
    box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
  }
  80% {
    transform: scale(0.95);
    border-width: 10px;
    
  }
  100% {
    transform: scale(1);
    border-width: 15px;
  }
}
/*  */

/* heartbeat */
.heartbeatAnim{
  animation: heartbeat 2s ease-in-out;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
    color: var(--main-color);
  }
  20%
  {
    transform: scale( 1 );
    color: var(--main-color-highlight);

  }
  40%
  {
    transform: scale( .75 );
    color: var(--main-color);
  }
  60%
  {
    transform: scale( 1 );
    color: var(--main-color-highlight);
  }
  80%
  {
    transform: scale( .75 );
    color: var(--main-color);
  }
  100%
  {
    transform: scale( 1 );
    color: var(--main-color-highlight);
  }
}

/*  */

/* blinking */
.blinkingAnim{
  animation: blinking 3s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes blinking
{
  0%
  {
    opacity: 1;
  }

  50%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}
/*  */

/* спиннер - загрузка */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {

  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background:black;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.36s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.24s;
  margin-top:5px;
}
.lds-facebook div:nth-child(3) {
  left: 44px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(4) {
  left: 62px;
  animation-delay: 0;
  margin-top:5px;
}


@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


@keyframes fadeInCover {
  0% { opacity: 0; transform: scale(1.2);}
  100%   { opacity: 1; transform: scale(1.3);}
}

.fadeInCover1{
  animation: fadeInCover 0.3s ease-in-out;
}

.fadeInCover2{
  animation: fadeInCover 0.6s ease-in-out;
}

.fadeInCover3{
  animation: fadeInCover 0.9s ease-in-out;
}

.fadeInCover4{
  animation: fadeInCover 1.2s ease-in-out;
}

.fadeInCover5{
  animation: fadeInCover 1.5s ease-in-out;
}

@keyframes goUp {
  0% { 
      opacity: 0;
      transform: translateY(10px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.goUpAnim {
  animation-name: goUp;
  animation-duration: 0.5s;
}


@keyframes goUpSlow {
  0% { 
      opacity: 0;
      transform: translateY(80px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.goUpAnimSlow {
  animation-name: goUpSlow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideRightIcon{
  0%{
    opacity: 0;
    transform: translateX(100px);
    color: grey;
  }

  65%{
    opacity: 1;
    transform: translateX(0px);
    color: var(--main-color-highlight2);
  }

  100%{
    color:var(--main-color);
  }
}
.slideRightIcon{
  animation-name: slideRightIcon;
  animation-duration: 3s;
  animation-timing-function: ease;
}


@keyframes slideLeftHours1{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes colorHours{
  0%{
    color:grey;
  }

  100%{
    color:var(--main-color-highlight2);
  }

}

@keyframes slideLeftHours2{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  50%{
    opacity: 0;
    transform: translateX(-100px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideLeftHours3{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  50%{
    opacity: 0;
    transform: translateX(-100px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideLeftHours4{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  50%{
    opacity: 0;
    transform: translateX(-100px);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}


.slideLeftHours1{
  animation-name: slideLeftHours1;
  animation-duration: 1.2s;
  animation-timing-function: ease;
}

.colorHours{
  animation-name: colorHours;
  animation-duration: 4s;
  animation-timing-function: ease;
}

.slideLeftHours2{
  animation-name: slideLeftHours2;
  animation-duration: 1.8s;
  animation-timing-function: ease;
}


.colorHours2{
  animation-name: colorHours;
  animation-duration: 6s;
  animation-timing-function: ease;
}


.slideLeftHours3{
  animation-name: slideLeftHours3;
  animation-duration: 2.4s;
  animation-timing-function: ease;
}

.colorHours3{
  animation-name: colorHours;
  animation-duration: 8s;
  animation-timing-function: ease;
}


.slideLeftHours4{
  animation-name: slideLeftHours4;
  animation-duration: 3s;
  animation-timing-function: ease;
}

.colorHours4{
  animation-name: colorHours;
  animation-duration: 10s;
  animation-timing-function: ease;
}













