/* стили собственного производсва UwU */

.invisible{
    display: none;
}

.nav_item{
    font-size: 13pt;
    font-weight: bold;
    margin-left: 20px;
}

.nav_item_login_spotify{
    font-size: 15pt;
    font-weight: bold;
}

.nav_item_username{
    font-size: 13pt;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.nav_item_spotify_avatar{
    width:45px;
    height:45px;
    margin-left: 10px;
}

.nav_item_logout{
    font-size: 13pt;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.fade_in_anim{
    animation: fade_in 0.8s;
}


@keyframes fade_in {
    from { opacity: 0; }
    to   { opacity: 1; }
}