/* стили собственного производсва UwU */

.invisible{
    display: none;
}

.nav_item{
    font-size: 13pt;
    font-weight: bold;
    margin-left: 20px;
}

.nav_item_login_spotify{
    font-size: 15pt;
    font-weight: bold;
}

.nav_item_username{
    font-size: 13pt;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.nav_item_spotify_avatar{
    width:45px;
    height:45px;
    margin-left: 10px;
    border-style: solid;
    border-width:2px;
    border-color: #1b77b9;
}

.nav_item_logout{
    font-size: 13pt;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}


.loader_div{
    margin-top:20%;
}

.primary_color{
    color:#1b77b9;
}

.error_color{
    color: rgb(175, 55, 55);
}

.warning_color{
    color: rgb(184, 164, 53);
}

.warning_icon{
    font-size: 60pt;
    color: rgb(184, 164, 53);
    margin-top: 5%;
}

.error{
    color: rgb(175, 55, 55);
    font-weight: bold;
    margin: 0;
}

.profile_avatar{
    border-radius: 100%;
    border-style: solid;
    border-width:9px;
    border-color:#1b77b9;
    width: 140pt;
}
                
.album_icon:hover{
    border-style: solid;
    border-color: #1b77b9;
    border-width: 2px;
    transform: scale(1.2);
}