
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
   }


* {
    font-family: 'Raleway', sans-serif !important;
    /* --main-color: #1ea74c;
    --main-color-highlight: #1ace56;
    --main-color-highlight2: #7dfca7; */
    --main-color: #1ea74c;
    --main-color-highlight: #1ace56;
    --main-color-highlight2: #7dfca7;
    --warning-color:rgb(184, 164, 53);
    --error-color: rgb(175, 55, 55);
    scroll-behavior: smooth !important;

}

button {
    font-family: 'Raleway', sans-serif !important; 
    font-weight: bold;
}


@import url('https://fonts.googleapis.com/css?family=Open%20Sans');

/* fonts */
.font1-8rem{
    font-size: 1.8rem;
}
/*  */


/* all */


.zeroOpacity{
    opacity: 0;
}

.mainColor{
    color: var(--main-color);
}

.mainColorHighlight{
    color: var(--main-color-highlight);
}

.mainColorHighlight2{
    color: var(--main-color-highlight2);
}

.greenShadow{
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}


a {
    color: rgb(233, 232, 232) !important;
    transition: color 0.2s ease-in-out !important;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

.btn-primary-n{
    transition: background-color 0.2s ease-in-out !important;
    background-color: var(--main-color) !important;
    color: white !important;
    border-style: none !important;
    font-weight: bold;
}


.btn-primary-n:hover{
    background-color: var(--main-color-highlight) !important;
}

.borderUnderline{
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--main-color);
    padding-bottom: 3px;
    transition: border-color 10.2s ease-in-out;
}

.borderUnderline:hover{
    border-color: var(--main-color-highlight2) !important;
}

.pText{
 font-size: 1.8rem;
}

.paddingSides{
    padding:10px;
}

.marginVertical{
    margin-top:3rem;
    margin-bottom: 3rem;
}

.backgroundImage{
    position: absolute;
    opacity: 0.08;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.p_fix p {
    margin: 0;
    margin-bottom: 10px;
}

/* Errors */
.warningIcon{
    font-size: 60pt;
    color: var(--warning-color);
    margin-top: 5%;
}

.warning{
    color: rgb(193, 216, 230);
    font-weight: bold;
    margin: 0;
}


.error{
    color: var(--error-color);
    font-weight: bold;
    margin: 0;
}

.primaryColor{
    color: var(--main-color);
}

/*  */




/*  */

/* App */
.siteTitle{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800 !important;
    font-size: 1.5rem;
}

.beta{
    font-size: 0.8rem;
}

.betaAbout{
    font-size: 1.8rem;
}


.navSpotifyAvatar{
    width:45px;
    height:45px;
    margin-left: 10px;
    border-style: solid;
    border-width:2px;
    border-color: #1ea74c;
}

.marginTopBig{
    margin-top: 20%;
}

.textShadow{
    text-shadow: 4px 3px 0px #105B2A;
}

.textShadow:hover{
    text-shadow: 4px 3px 0px #16a147;
    cursor: pointer;
}

/*  */

/* Logo */

@keyframes logoBaseAnim {
   0%{
    opacity: 0;
    background-color: var(--dark-color-light);
    transform: scale(0.4);
   }

   70%{
    background-color: var(--main-color-highlight2);
    -webkit-box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
    -moz-box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
    box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
    transform: scale(1);
   }

   100%{
    opacity: 1;
    background-color: var(--main-color);
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
   }
}

@keyframes logoGraphOneAnim {
    0%{
        opacity: 0;
        background-color: var(--dark-color-light);
        width: 0%;
    }
 
    70%{
        background-color: var(--main-color-highlight2);
        width: 0%;
    }

    90%{
        width: 70%;
        -webkit-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        -moz-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
    }
 
    100%{
        opacity: 1;
        background-color: var(--dark-color-light);
        width: 63%;
        -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    }
 }

 @keyframes logoGraphTwoAnim {
    0%{
        opacity: 0;
        background-color: var(--dark-color-light);
        width: 0%;
    }
 
    70%{
        background-color: var(--main-color-highlight2);
        width: 0%;
    }

    90%{
        width: 70%;
        -webkit-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        -moz-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
    }
 
    100%{
        opacity: 1;
        background-color: var(--dark-color-light);
        width: 55%;
        -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    }
 }

 @keyframes logoGraphThreeAnim {
    0%{
        opacity: 0;
        background-color: var(--dark-color-light);
        width: 0%;
    }
 
    70%{
        background-color: var(--main-color-highlight2);
        width: 0%;
    }

    90%{
        width: 70%;
        -webkit-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        -moz-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
    }
 
    100%{
        opacity: 1;
        background-color: var(--dark-color-light);
        width: 48%;
        -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    }
 }

.logoDiv{
    position: relative;
    width: 15rem;
    height: 15rem; 
    margin: 0 auto;
}

.logoBase{
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    border-radius: 100%;
    background-color: var(--main-color);
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.logoGraphOne{
    position: relative;
    background-color: var(--dark-color-light);
    width: 63%;
    margin-left: 15%;
    margin-top:5%;
    z-index: inherit;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
}

.logoGraphTwo{
    position: relative;
    background-color: var(--dark-color-light);
    width: 55%;
    margin-left: 15%;
    margin-top:5%;
    z-index: inherit;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
-moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
}

.logoGraphThree{
    position: relative;
    background-color: var(--dark-color-light);
    width: 48%;
    margin-left: 15%;
    margin-top: 5%;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
-moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
}

/*  */

/* HomePage */

/* transitions */
.siteTitle-enter-active {
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}
.siteTitle-enter {
  transform: translateY(17px);
  opacity: 0;
  transform: scale(0.8);
}

.logo-enter-active {
    transition: all 0.5s ease;
    transition-delay: 1s;
}
.logo-enter {
  transform: translateY(37px);
  opacity: 0;
}

.welcome-enter-active {
    transition: all 0.5s ease;
    transition-delay: 1.5s;
}
.welcome-enter {
  transform: translateY(17px);
  opacity: 0;
}

.artist-enter-active {
    transition: all 0.3s ease;
    transition-delay: 1.8s;
}
.artist-enter {
  transform: translateY(17px);
  opacity: 0;
}

.track-enter-active {
    transition: all 0.3s ease;
    transition-delay: 2.1s;
}
.track-enter {
  transform: translateY(17px);
  opacity: 0;
}

.decade-enter-active {
    transition: all 0.3s ease;
    transition-delay: 2.4s;
}
.decade-enter {
  transform: translateY(17px);
  opacity: 0;
}

.yeahboi-enter-active {
    transition: all 0.3s ease;
    transition-delay: 2.9s;
}
.yeahboi-enter {
  transform: translateY(17px);
  opacity: 0;
}


.enterButton-enter-active {
    transition: all 0.5s ease;
    transition-delay: 3.2s;
}
.enterButton-enter {
  transform: translateY(17px);
  opacity: 0;
}

.homeImage{
    transform:translateX(-30px);
}

.albumCoverHome{
    transform: scale(1.3);
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

/*  */


.siteTitleHome{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    font-size: 4.2rem !important;
    text-shadow: 4px 3px 0px #105B2A;
}


.cookiesCard{
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #3C4044;
}

.homeIcon{
    font-size: 4rem;
    color: var(--main-color-highlight);
    
}

/*  */

/* Profile */
.profileAvatar{
    border-radius: 100%;
    border-style: solid;
    border-width:15px;
    border-color: var(--main-color);
    width: 22rem;
    height:22rem;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

/*  */

/* BasicStats */
.albumIconSmall{
    width: 5rem;
    height: 5rem;
    margin:5px;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    transition: all 0.2s ease-in-out;
}

.albumIconSmall:hover{
    width: 5rem;
    height: 5rem;
    margin:5px;
    -webkit-box-shadow: 6px 7px 0px 2px rgb(15, 230, 90);
    -moz-box-shadow: 6px 7px 0px 2px rgb(15, 230, 90);
    box-shadow: 6px 7px 0px 2px rgb(15, 230, 90);
}

.lastFiveTitle{
    font-size: 1rem;
}

.albumIconBig{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(3rem, -3rem) scale(1.2);
    z-index: 0;
    animation: albumIconBig;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    
}

.albumIconBig2{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(10rem, -3rem) scale(1);
    z-index: -1;
    animation: albumIconBig2;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.albumIconBig3{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(1rem, 7rem) scale(0.8);
    z-index: -2;
    animation: albumIconBig3;
    animation-duration: 2.2s;
    animation-timing-function: ease;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.albumIconBig4{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(9rem, 8rem) scale(1);
    z-index: -1;
    animation: albumIconBig4;
    animation-duration: 1.8s;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.albumIconBig5{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(-5rem, 14rem) scale(0.7);
    z-index: 0;
    animation: albumIconBig5;
    animation-duration: 2s;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.albumIconBig6{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(-1rem, 18rem) scale(0.6);
    z-index: -2;
    animation: albumIconBig6;
    animation-duration: 2s;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.albumIconBig7{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(1rem, 15rem) scale(0.5);
    z-index: -1;
    animation: albumIconBig7;
    animation-duration: 2.2s;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.albumIconBig8{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(-10rem, 21rem) scale(0.6);
    z-index: 0;
    animation: albumIconBig8;
    animation-duration: 2.6s;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.albumIconBigMonth{
    width: 12rem;
    height: 12rem;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(5rem, 3rem) scale(1.5);
    z-index: -1;
    
}
.iconMonth{
    color: var(--main-color-highlight);
    font-size: 4rem;
    transform: translate(1rem, 18rem) scale(1.5);
    z-index: 0;
}

.achievementIcon{
    border-radius: 65%;
    border-style: solid;
    border-width:15px;
    border-color: var(--main-color);
    width: 22rem;
    height:22rem;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    
}

.achievementItemTitle{
    font-size: 4rem;
}





/*  */