
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
   }


* {
    font-family: 'Raleway', sans-serif !important;
    --main-color: #1ea74c;
    --main-color-highlight: #1ace56;
    --main-color-highlight2: #7dfca7;
}



@import url('https://fonts.googleapis.com/css?family=Open%20Sans');

/* all */

a {
    color: rgb(233, 232, 232) !important;
    transition: color 0.2s ease-in-out !important;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

.btn-primary-n{
    transition: background-color 0.2s ease-in-out !important;
    background-color: #1ea74c !important;
    color: white !important;
    border-style: none !important;
    font-weight: bold;
}


.btn-primary-n:hover{
    background-color: var(--main-color-highlight) !important;
}

.borderUnderline{
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--main-color);
    padding-bottom: 3px;
    transition: border-color 10.2s ease-in-out;
}

.borderUnderline:hover{
    border-color: var(--main-color-highlight2);
    cursor: pointer;
}

.pText{
 font-size: 1.8rem;
}
/*  */

/* App */
.siteTitle{
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.5rem;
}

.beta{
    font-size: 0.8rem;
}

.navSpotifyAvatar{
    width:45px;
    height:45px;
    margin-left: 10px;
    border-style: solid;
    border-width:2px;
    border-color: #1ea74c;
}

/*  */

/* Logo */

@keyframes logoBaseAnim {
   0%{
    opacity: 0;
    background-color: var(--dark-color-light);
    transform: scale(0.4);
   }

   70%{
    background-color: var(--main-color-highlight2);
    -webkit-box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
    -moz-box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
    box-shadow: 4px 4px 66px 6px rgba(34, 219, 96, 1);
    transform: scale(1);
   }

   100%{
    opacity: 1;
    background-color: var(--main-color);
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
   }
}

@keyframes logoGraphOneAnim {
    0%{
        opacity: 0;
        background-color: var(--dark-color-light);
        width: 0%;
    }
 
    70%{
        background-color: var(--main-color-highlight2);
        width: 0%;
    }

    90%{
        width: 70%;
        -webkit-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        -moz-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
    }
 
    100%{
        opacity: 1;
        background-color: var(--dark-color-light);
        width: 63%;
        -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    }
 }

 @keyframes logoGraphTwoAnim {
    0%{
        opacity: 0;
        background-color: var(--dark-color-light);
        width: 0%;
    }
 
    70%{
        background-color: var(--main-color-highlight2);
        width: 0%;
    }

    90%{
        width: 70%;
        -webkit-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        -moz-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
    }
 
    100%{
        opacity: 1;
        background-color: var(--dark-color-light);
        width: 55%;
        -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    }
 }

 @keyframes logoGraphThreeAnim {
    0%{
        opacity: 0;
        background-color: var(--dark-color-light);
        width: 0%;
    }
 
    70%{
        background-color: var(--main-color-highlight2);
        width: 0%;
    }

    90%{
        width: 70%;
        -webkit-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        -moz-box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
        box-shadow: 0px 5px 40px 2px rgba(34, 219, 96, 0.95) inset;
    }
 
    100%{
        opacity: 1;
        background-color: var(--dark-color-light);
        width: 48%;
        -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
        box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    }
 }

.logoDiv{
    position: relative;
    width: 15rem;
    height: 15rem; 
    margin: 0 auto;
}

.logoBase{
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    border-radius: 100%;
    background-color: var(--main-color);
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1);
}

.logoGraphOne{
    position: relative;
    background-color: var(--dark-color-light);
    width: 63%;
    margin-left: 15%;
    margin-top:5%;
    z-index: inherit;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    -moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
    box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;

}

.logoGraphTwo{
    position: relative;
    background-color: var(--dark-color-light);
    width: 55%;
    margin-left: 15%;
    margin-top:5%;
    z-index: inherit;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
-moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
}

.logoGraphThree{
    position: relative;
    background-color: var(--dark-color-light);
    width: 48%;
    margin-left: 15%;
    margin-top: 5%;
    -webkit-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
-moz-box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
box-shadow: 6px 7px 0px 2px rgba(16, 91, 42, 1) inset;
}

/*  */

/* HomePage */

.siteTitleHome{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 900;
    font-size: 4.2rem !important;
    text-shadow: 4px 3px 0px #105B2A;
}

.cookiesCard{
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #3C4044;
}

/*  */